.red{
    color:red;
}
.one{
    width: 500px;
    height: 130px;
}
.two{
    width: 500px;
    height: 115px;
}
.min{
    margin-top: 5px;
}
#sub{
    margin-top: 10px;
    margin-left: 2px;
}
.sp{
    color:red;
}